

#meal{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.mealName{
    
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.meal-info{
    font-size: 45px;
    color: greenyellow;
}

.foodImg{
    width: 230px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
    height: auto;
}